:root {
    --color-black-first: #000000;
    --color-black-second: #3A4042;
    --color-silver: #828282;
    --color-second: #7C5E99;
    --color-third: #FFFFFF;
    --color-error: #BA1F33;
    --color-success: #62C370;
    --color-warning: #CEB02A;
    --color-fourth: #4C5B84;
    --color-monster-first: #6072A6;
    --color-monster-second: #F2D5D5;
    --color-monster-third: #59D96C;
    --color-monster-fourth: #8AA660;
    --color-monster-fifth: #8C774F;
}

header {
    background-color: var(--color-monster-first);
}

a {
    color: var(--color-third);
    font-size: 20px;
    font-family: "Fira Code", Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#button {
    display: inline-block;
    background-color: var(--color-monster-third);
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #000000;
}