@import "./colors.css";

.main-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-monster-first);
    border-bottom: 10px solid var(--color-black-first);
    padding: 10px 20px;
}