@import "../colors.css";

.main-button {
    display: inline-block;
    background-color: var(--color-monster-third);
    padding: 18px 20px;
    box-shadow: 5px 5px 0px var(--color-black-first);
    margin-right: 0;
    transition: transform 100ms linear ;
    font-size: 20px;
    color: var(--color-third);
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover{
    transform: scale(1.08);
    background-color: var(--color-monster-second);
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover{
    transform: scale(1.01);
    background-color: var(--color-monster-second);
}