@import "../colors.css";

.main-footer { 
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--color-black-second);
    height: 50px;
}

.main-footer .size {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-left: 20px;
}