@import "../colors.css";

.main-form {
    background-color: var(--color-monster-first);
    padding: 50px 20px;
}

.main-form .main-title.-second {
    margin-bottom: 50px;
}

.main-form .main-input {
    margin-bottom: 20px;
}

.main-form .main-input.-textarea {
    margin-bottom: 40px;
}